.Rating {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    font-size: 32px;
  }
  
  .Rating.RatingReadonly{
    cursor: auto;
  }
  
  .Rating > span {
    color: #6a9bd8;
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .Rating .RatingOn:before {
     color: gold;
     text-shadow: 0 0 5px rgba(255,225,0,0.5),
                  0 0 10px rgba(255,225,0,0.5),
                  0 0 15px rgba(255,225,0,0.5);
     content: "\2605";
     /*left: 0; 
     padding: 1px;*/
     position: absolute;
  }