
.Button {
    margin: 10px;
    height: 40px;
    align-content: center;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px; 
    border-radius: 5px;
}