@import url('https://fonts.googleapis.com/css?family=Open+Sans');


input::-webkit-calendar-picker-indicator {
    display: none;
  }

input {
    margin: 5px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 7px;
    height: 30px;
    outline: none;
    letter-spacing: 1px; 
    font-size: 15px;
    color: #6a9bd8;
    background-color: #ebf5fc;
    box-shadow: inset -2px -2px 5px rgba(255,255,255,1),
                inset 3px 3px 5px rgba(0,0,0,0.1);
}

