input::-webkit-calendar-picker-indicator {
    display: none;
  }

input {
    margin: 5px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    font-family: inherit;
    font-weight: bold;
    padding: 7px;
    height: 30px;
    outline: none;
    letter-spacing: 1px; 
    font-size: 15px;
    color: inherit;
    background-color: inherit;
}

