  .Excel table {
    width: 100%;
    border-radius: 10px;
  }
  
  .Excel td {
    padding: 5px;
    font-size: 15px;
  }
  
  .Excel th {
    letter-spacing: 1px; 
    cursor: pointer;
    font-size: 22px;
    font-weight: normal;
    padding: 8px;
    text-align: center;
  }
  
  .Excel .ExcelNotSortable {
    cursor: default;
  }
  
  .Excel .ExcelEditable {
    cursor: cell;
  }
  
  .Excel .ExcelDataCenter {
    text-align: center;
    text-align: -webkit-center;
  }
  
  .Excel .ExcelDataLeft {
    padding: 0 10px;
    text-align: left;
  }
  
  .Excel .ExcelDataRight {
    text-align: right;
  }
