
.Actions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 340px;
}

.Actions span {
    position: relative;
    list-style: none;
    text-align: center;
    margin: 15px 20px;
}

.Actions span:focus {outline:0;}

.Actions span .icon-container {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.Actions span .icon-container:active .fas {
    transform: scale(0.95);
}

.Actions span .icon-container .fas {
    font-size: 20px;
}
